@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Maven+Pro:400,700);

/*====================================================
01. CSS Reset
02. Bootstrap fix for WinPhone 8 and IE10
03. Basic Document Styles
04. Elements
05. Colors
06. Typography
07. Header & Logo
08. Navigation
09. Sections
10. Countdown
11. Footer
12. Animation
13. Perfect Scrollbar
14. Preloader
15. Responsive
====================================================*/

/*====================================================
01. CSS Reset
====================================================*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*====================================================
02. Bootstrap fix for WinPhone 8 and IE10
====================================================*/

@-webkit-viewport {
    width: device-width;
}

@-moz-viewport {
    width: device-width;
}

@-ms-viewport {
    width: device-width;
}

@-o-viewport {
    width: device-width;
}

@viewport {
    width: device-width;
}

/*====================================================
03. Basic Document Styles
====================================================*/

html, body {
    height: 100%;
}

body {
    position: fixed;
    height: 100%;
    width: 100%;
    left:0;
    top: 0;
    font-size: 18px;
    line-height: 24px;
    font-family: 'Maven Pro', sans-serif;
    font-style: normal;
    font-weight: normal;
    background: #777777;
    color: #ffffff;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    overflow: hidden;
    white-space: normal;
}

input,
select {
    font-size: 16px;
    font-style: normal;
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
    background: transparent !important;
    color: currentColor !important;
    border-color: currentColor !important;
}

textarea {
    width: 100%;
    padding: 10px 20px;
    resize: both;
    height: 150px;
}

#site-wrap.bg {
    -webkit-transition: background 0.5s;
    -moz-transition: background 0.5s;
    -ms-transition: background 0.5s;
    -o-transition: background 0.5s;
    transition: background 0.5s;
}

#site-canvas {
    position: fixed;
    z-index: 2;
    top: 50%;
    left: 0;
    bottom: 0;
    right: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    -webkit-transition: all, 0.6s;
    opacity: 0.1;
}

#site-wrap {
    position: relative;
    height: 100%;
    overflow: hidden;
}

/*====================================================
04. Elements
====================================================*/

.btn {
    position: relative;
    font-family: "Maven Pro", sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 0;
    outline: none;
    padding: 9px 15px;
    background: transparent;
    border: 1px solid currentColor;
    font-size: 14px;
    font-weight: bold;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    overflow: hidden;
    box-shadow: inset 0 0 0 1px currentColor;
}

.btn > span,
.btn > i {
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.btn:hover,
.btn:active,
.btn:focus {
    outline: none;
    color: currentColor;
    background: currentColor;
    box-shadow: inset 0 0 0 16px currentColor;
    border-color: currentColor;
}

.btn-inverse {
    background: currentColor;
    box-shadow: inset 0 0 0 16px currentColor;
}

.btn-inverse:hover {
    background: transparent;
    color: currentColor;
    box-shadow: inset 0 0 0 1px currentColor;
}

/*====================================================
05. Colors
====================================================*/

.btn-accent,
.navigation ul > li.active a > span,
.navigation ul > li.active a:after {
    color: #fdef37;
}

.btn-accent > span,
.btn-accent > i,
.btn.btn-inverse:hover > span,
.btn.btn-inverse:hover > i {
    color: #ffffff;
}

.btn:hover > span,
.btn:active > span,
.btn:focus > span,
.btn-inverse > span,
.btn:hover > i,
.btn:active > i,
.btn:focus > i,
.btn-inverse > i {
    color: #000000;
}

/*====================================================
06. Typography
====================================================*/

h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    margin-bottom: 10px;
    letter-spacing: 2px;
    line-height: 1.2em;
    text-transform: uppercase;
}

h1 {
    font-size: 42px;
}

h2 {
    font-size: 34px;
}

h3 {
    font-size: 22px;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 18px;
}

h6 {
    font-size: 16px;
}

p {
    margin-bottom: 20px;
    letter-spacing: 1px;
}

p.lead {
    font-size: 26px;
    line-height: 40px;
}

a, a > * {
    color: inherit;
    text-decoration: none;
}

a:hover, a > *:hover, a:focus {
    color: inherit;
    text-decoration: none;
    outline: 0;
}

em {
    font-style: italic;
}

strong {
    font-weight: 700;
}

.text-default {
    text-transform: inherit;
}

/*====================================================
07. Header & Logo
====================================================*/

#site-header {
    position: absolute;
    top: 50px;
    left: 50px;
    right: 50px;
    height: 40px;
    z-index: 20;
}

#site-logo {
    float: left;
}

#site-logo h1 {
    position: relative;
    font-family: "Montserrat", sans-serif;
    display: inline-block;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 50px;
    line-height: 40px;
    letter-spacing: 5px;
    margin-bottom: 0;
}

#site-logo h1 > a {
    display: inline-block;
}

/*====================================================
08. Navigation
====================================================*/

#site-nav {
    float: right;
}

.menu-toggle {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 28px;
    height: 28px;
    background: transparent;
    border: 0;
    cursor: pointer;
    outline: none;
    padding: 0;
    z-index: 999;
}

.menu-toggle > span:after {
    content: "";
    position: absolute;
    left: 0;
    display: block;
    width: 24px;
    height: 3px;
    margin: 4px 2px;
    background-color: currentColor;
    -webkit-transition: -webkit-transform .35s, background .35s;
    -moz-transition: -moz-transform .35s, background .35s;
    -ms-transition: -ms-transform .35s, background .35s;
    -o-transition: -o-transform .35s, background .35s;
    transition: transform .35s, background .35s;
}

.menu-toggle > span:nth-child(1):after {
    top: 0;
    -webkit-transform-origin: 0 50%;
    -moz-transform-origin: 0 50%;
    -ms-transform-origin: 0 50%;
    -o-transform-origin: 0 50%;
    transform-origin: 0 50%
}

.menu-toggle > span:nth-child(2):after {
    top: 8px
}

.menu-toggle > span:nth-child(3):after {
    top: 16px;
    -webkit-transform-origin: 0 50%;
    -moz-transform-origin: 0 50%;
    -ms-transform-origin: 0 50%;
    -o-transform-origin: 0 50%;
    transform-origin: 0 50%
}

.menu-toggle.opened > span:after {
    width: 30px;
}

.menu-toggle.opened > span:nth-child(1):after {
    -webkit-transform: translateX(1px) translateY(-2px) rotate(43deg);
    -moz-transform: translateX(1px) translateY(-2px) rotate(43deg);
    -ms-transform: translateX(1px) translateY(-2px) rotate(43deg);
    -o-transform: translateX(1px) translateY(-2px) rotate(43deg);
    transform: translateX(1px) translateY(-2px) rotate(43deg)
}

.menu-toggle.opened > span:nth-child(2):after {
    display: none;
}

.menu-toggle.opened > span:nth-child(3):after {
    -webkit-transform: translateX(1px) translateY(2px) rotate(-43deg);
    -moz-transform: translateX(1px) translateY(2px) rotate(-43deg);
    -ms-transform: translateX(1px) translateY(2px) rotate(-43deg);
    -o-transform: translateX(1px) translateY(2px) rotate(-43deg);
    transform: translateX(1px) translateY(2px) rotate(-43deg);
}

.navigation ul {
    display: inline-block;
}

.navigation ul > li {
    float: left;
    padding-left: 40px;
}

.navigation ul > li a {
    position: relative;
    display: block;
    height: 16px;
}

.navigation ul > li a > span,
.navigation ul > li a:after {
    display: block;
    font-size: 16px;
    line-height: 16px;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    pointer-events: none;
    transition: -webkit-transform .3s, opacity .3s;
    transition: transform .3s, opacity .3s;
}



.navigation ul > li a:after {
    content: attr(data-title);
    margin-top: -16px;
}



/*====================================================
09. Sections
====================================================*/

#site-main {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

#site-main h1 {
    margin-top: 30px;
}

.awd-cube {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: perspective(400vh);
    -moz-transform: perspective(400vh);
    -o-transform: perspective(400vh);
    transform: perspective(400vh);
}

.awd-cube-main, .awd-cube-wrap {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.awd-cube-wrap {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: translateZ(-50vh);
    -moz-transform: translateZ(-50vh);
    -o-transform: translateZ(-50vh);
    transform: translateZ(-50vh);
}

.awd-cube-main {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    -o-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transition: -wekit-transform 1s;
    -moz-transition: -moz-transform 1s;
    -ms-transition: -ms-transform 1s;
    -o-transition: -o-transform 1s;
    transition: transform 1s;
}

.awd-cube-item {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 30px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    display: table;
    table-layout: fixed;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.awd-cube-item.awd-cube-item-front {
    -webkit-transform: translateZ(50vh);
    -moz-transform: translateZ(50vh);
    -o-transform: translateZ(50vh);
    transform: translateZ(50vh);
}

.awd-cube-item.awd-cube-item-bottom {
    -webkit-transform: rotateX(-90deg) translateY(50vh);
    transform: rotateX(-90deg) translateY(50vh);
    -webkit-transform-origin: center bottom 0px;
    transform-origin: center bottom 0px;
}

.awd-cube-item.awd-cube-item-back {
    -webkit-transform: translateZ(-50vh) rotateX(180deg);
    transform: translateZ(-50vh) rotateX(180deg);
}

.awd-cube-item.awd-cube-item-top {
    -webkit-transform: rotateX(-270deg) translateY(-50vh);
    transform: rotateX(-270deg) translateY(-50vh);
    -webkit-transform-origin: center top 0px;
    transform-origin: center top 0px;
}

.ie .awd-cube,
.ie .awd-cube-wrap,
.ie .awd-cube-main {
    transform: none !important;
}

.ie .awd-cube-item {
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    opacity: 0;
    transform: translateY(30%);
}

.ie .awd-cube-item.active {
    opacity: 1;
    transform: translateY(0%);
    z-index: 1;
}

.awd-cube-item .awd-cube-item-content {
    position: absolute;
    top: 100px;
    bottom: 100px;
    left: 100px;
    right: 100px;
    text-align: center;
    overflow: hidden;
}

.awd .awd-cube-item .awd-cube-item-content {
    opacity: 0;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.awd-cube-item .awd-cube-item-wrapper {
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;
}

.awd-cube-item .awd-cube-item-inner {
    display: table-cell;
    width: 100%;
    vertical-align: middle;
    -webkit-transition: -webkit-transform 1s;
    transition: transform 1s;
}

.awd-cube-item.up .awd-cube-item-inner {
    -webkit-animation: slide-up 1s forwards;
    -moz-animation: slide-up 1s forwards;
    -o-animation: slide-up 1s forwards;
    animation: slide-up 1s forwards;
}

@-webkit-keyframes slide-up {
    from {
        -webkit-transform: translateY(-10%);
        transform: translateY(-10%);
    }

    to {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes slide-up {
    from {
        -webkit-transform: translateY(-10%);
        transform: translateY(-10%);
    }

    to {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

.awd-cube-item.down .awd-cube-item-inner {
    -webkit-animation: slide-down 1s forwards;
    -moz-animation: slide-down 1s forwards;
    -o-animation: slide-down 1s forwards;
    animation: slide-down 1s forwards;
}

@-webkit-keyframes slide-down {
    from {
        -webkit-transform: translateY(10%);
        transform: translateY(10%);
    }

    to {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes slide-down {
    from {
        -webkit-transform: translateY(10%);
        transform: translateY(10%);
    }

    to {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

.awd-cube-item-bg,
.awd-cube-item-image,
.awd-cube-item-image > div,
.awd-cube-item-color {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.awd-cube-item-image > div {
    background-size: cover;
    background-position: 50% 50%;
}

.awd-cube-item-image.awd-parallax > div {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

.sections-block {
    position: relative;
    height: 100%;
}

.section-info {
    font-size: 20px;
    margin: 30px 0;
}

.section-title {
    letter-spacing: 2px;
    margin-bottom: 40px;
    text-transform: uppercase;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    position: relative;
}

/* Subscribe */

.subscribe-form {
    margin: 10px 0;
}

.subscribe-form input {
    position: relative;
    width: 100%;
    background: transparent;
    outline: none;
    font-family: "Maven Pro", sans-serif;
    float: left;
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
    color: inherit;
    border: 2px solid currentColor;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    height: 40px;
    padding: 6px 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
}

.subscribe-form .form-notice {
    font-size: 16px;
    display: inline-block;
    margin-left: 15px;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: inherit;
}

:-moz-placeholder {
    color: inherit;
    opacity: 1;
}

::-moz-placeholder {
    color: inherit;
    opacity: 1;
}

:-ms-input-placeholder {
    color: inherit;
}

.contact-item {
    font-size: 18px;
}

/*====================================================
10. Countdown
====================================================*/

.countdown {
    display: none;
    overflow: hidden;
}

#clock {
    display: inline-block;
    text-align: left;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 40px;
}

#clock .counter-box {
    display: inline-block;
    position: relative;
}

#clock .counter-date {
    max-width: 420px;
    float: left;
}

#clock .counter-time {
    max-width: 250px;
    float: left;
}

#clock .counter-box .number {
    font-size: 78px;
    font-weight: 700;
    line-height: 0.75em;
    letter-spacing: 2px;
    margin-top: 35px;
}

#clock .counter-date .number {
    font-size: 190px;
    margin-right: 20px;
    margin-top: 0;
}

#clock .counter-time .counter-box:last-child .number {
    margin-top: 35px;
    font-size: 50px;
    min-width: 70px;
    margin-right: 15px;
    display: inline-block;
    text-align: left;
}

#clock span {
    display: none;
    font-family: "Maven Pro", sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
    padding-top: 10px;
    letter-spacing: 2px;
    position: relative;
}

#clock .counter-box:first-child span,
#clock .counter-box:last-child span {
    display: block;
    margin-top: 0;
}

#clock .counter-box:last-child span {
    position: relative;
    display: inline-block;
}

#clock .counter-box.last {
    margin-right: 5px;
}

/*====================================================
11. Footer
====================================================*/

.copyright {
    position: absolute;
    right: 50px;
    bottom: 50px;
    z-index: 20;
}

.copyright p {
    display: inline-block;
    font-size: 14px;
    line-height: 14px;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 0;
}

.social-icons {
    position: absolute;
    width: 42px;
    bottom: 50px;
    left: 50px;
    z-index: 20;
    cursor: pointer;
}

.social-icons ul > li {
    float: left;
}

.social-icons ul > li:not(:last-child) {
    margin-bottom: 10px;
}

.social-icons ul > li > a {
    display: block;
    position: relative;
    text-align: center;
    padding: 10px;
    width: 42px;
}

.controls {
    position: absolute;
    right: 50px;
    top: 50%;
    width: 42px;
    margin-top: -47px;
    z-index: 20;
}

.controls .btn {
    width: 42px;
    padding: 10px;
}

.controls .btn:not(:last-child) {
    margin-bottom: 10px;
}

/*====================================================
12. Animations
====================================================*/

.start .animated {
    visibility: hidden;
}

.start .visible {
    visibility: visible;
}

/*==================================================
13. Perfect Scrollbar
==================================================*/

.ps-container.ps-in-scrolling, .ps-container:hover.ps-in-scrolling {
    pointer-events: none
}

.ps-container {
    -ms-touch-action: none;
    overflow: hidden !important
}

.ps-container.ps-active-x > .ps-scrollbar-x-rail, .ps-container.ps-active-y > .ps-scrollbar-y-rail {
    display: block
}

.ps-container.ps-in-scrolling.ps-x > .ps-scrollbar-x-rail {
    background-color: #eee;
    opacity: .9
}

.ps-container.ps-in-scrolling.ps-x > .ps-scrollbar-x-rail > .ps-scrollbar-x {
    background-color: rgba(0, 0, 0, 0.1);
}

.ps-container.ps-in-scrolling.ps-y > .ps-scrollbar-y-rail {
    background-color: rgba(0, 0, 0, 0.1);
    opacity: .9
}

.ps-container.ps-in-scrolling.ps-y > .ps-scrollbar-y-rail > .ps-scrollbar-y {
    background-color: rgba(0, 0, 0, 0.1);
}

.ps-container > .ps-scrollbar-x-rail {
    display: none;
    opacity: 0;
    -webkit-transition: background-color .2s linear, opacity .2s linear;
    -moz-transition: background-color .2s linear, opacity .2s linear;
    -o-transition: background-color .2s linear, opacity .2s linear;
    transition: background-color .2s linear, opacity .2s linear;
    bottom: 3px;
    height: 8px;
    border-radius: 1.5em;
}

.ps-container > .ps-scrollbar-x-rail, .ps-container > .ps-scrollbar-x-rail > .ps-scrollbar-x {
    position: absolute;
}

.ps-container > .ps-scrollbar-x-rail > .ps-scrollbar-x {
    background-color: rgba(0, 0, 0, 0.2);
    -webkit-transition: background-color .2s linear;
    -moz-transition: background-color .2s linear;
    -o-transition: background-color .2s linear;
    transition: background-color .2s linear;
    bottom: 0;
    border-radius: 1.5em;
    height: 8px;
}

.ps-container > .ps-scrollbar-y-rail {
    display: none;
    opacity: 0;
    -webkit-transition: background-color .2s linear, opacity .2s linear;
    -moz-transition: background-color .2s linear, opacity .2s linear;
    -o-transition: background-color .2s linear, opacity .2s linear;
    transition: background-color .2s linear, opacity .2s linear;
    right: 3px;
    border-radius: 1.5em;
    width: 8px;
}

.ps-container > .ps-scrollbar-y-rail, .ps-container > .ps-scrollbar-y-rail > .ps-scrollbar-y {
    position: absolute;
}

.ps-container > .ps-scrollbar-y-rail > .ps-scrollbar-y {
    background-color: rgba(0, 0, 0, 0.2);
    -webkit-transition: background-color .2s linear;
    -moz-transition: background-color .2s linear;
    -o-transition: background-color .2s linear;
    transition: background-color .2s linear;
    right: 0;
    border-radius: 1.5em;
    width: 8px;
}

.ps-container:hover.ps-in-scrolling.ps-x > .ps-scrollbar-x-rail {
    background-color: rgba(0, 0, 0, 0.1);
    opacity: .9
}

.ps-container:hover.ps-in-scrolling.ps-x > .ps-scrollbar-x-rail > .ps-scrollbar-x {
    background-color: rgba(0, 0, 0, 0.2);
}

.ps-container:hover.ps-in-scrolling.ps-y > .ps-scrollbar-y-rail {
    background-color: rgba(0, 0, 0, 0.1);
    opacity: .9
}

.ps-container:hover.ps-in-scrolling.ps-y > .ps-scrollbar-y-rail > .ps-scrollbar-y {
    background-color: rgba(0, 0, 0, 0.2);
}

.ps-container:hover > .ps-scrollbar-x-rail, .ps-container:hover > .ps-scrollbar-y-rail {
    opacity: .6
}

.ps-container:hover > .ps-scrollbar-x-rail:hover {
    background-color: rgba(0, 0, 0, 0.1);
    opacity: .9
}

.ps-container:hover > .ps-scrollbar-x-rail:hover > .ps-scrollbar-x {
    background-color: rgba(0, 0, 0, 0.1);
}

.ps-container:hover > .ps-scrollbar-y-rail:hover {
    background-color: rgba(0, 0, 0, 0.1);
    opacity: .9
}

.ps-container:hover > .ps-scrollbar-y-rail:hover > .ps-scrollbar-y {
    background-color: rgba(0, 0, 0, 0.1);
}

/*====================================================
14. Preloader
====================================================*/

#awd-preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    background: #000000;
    z-index: 999;
}

.awd-square-spin,
.awd-square-spin > div {
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.awd-square-spin {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    font-size: 0;
    color: #ffffff;
    width: 48px;
    height: 48px;
    margin-left: -24px;
    margin-top: -24px;
}

.awd-square-spin > div {
    display: inline-block;
    float: none;
    background-color: currentColor;
    border: 0 solid currentColor;
    width: 100%;
    height: 100%;
    border-radius: 0;
    -webkit-animation: square-spin 2s 0s cubic-bezier(0.09, 0.57, 0.49, 0.9) infinite;
    -moz-animation: square-spin 2s 0s cubic-bezier(0.09, 0.57, 0.49, 0.9) infinite;
    -o-animation: square-spin 2s 0s cubic-bezier(0.09, 0.57, 0.49, 0.9) infinite;
    animation: square-spin 2s 0s cubic-bezier(0.09, 0.57, 0.49, 0.9) infinite
}

@-webkit-keyframes square-spin {
    0% {
        -webkit-transform: perspective(100px) rotateX(0) rotateY(0);
        transform: perspective(100px) rotateX(0) rotateY(0)
    }
    50% {
        -webkit-transform: perspective(100px) rotateX(180deg) rotateY(0);
        transform: perspective(100px) rotateX(180deg) rotateY(0)
    }
    100% {
        -webkit-transform: perspective(100px) rotateX(360deg) rotateY(0);
        transform: perspective(100px) rotateX(360deg) rotateY(0)
    }
}

@-moz-keyframes square-spin {
    0% {
        -moz-transform: perspective(100px) rotateX(0) rotateY(0);
        transform: perspective(100px) rotateX(0) rotateY(0)
    }
    50% {
        -moz-transform: perspective(100px) rotateX(180deg) rotateY(0);
        transform: perspective(100px) rotateX(180deg) rotateY(0)
    }
    100% {
        -moz-transform: perspective(100px) rotateX(360deg) rotateY(0);
        transform: perspective(100px) rotateX(360deg) rotateY(0)
    }
}

@-o-keyframes square-spin {
    0% {
        transform: perspective(100px) rotateX(0) rotateY(0)
    }
    50% {
        transform: perspective(100px) rotateX(180deg) rotateY(0)
    }
    100% {
        transform: perspective(100px) rotateX(360deg) rotateY(0)
    }
}

@keyframes square-spin {
    0% {
        -webkit-transform: perspective(100px) rotateX(0) rotateY(0);
        -moz-transform: perspective(100px) rotateX(0) rotateY(0);
        transform: perspective(100px) rotateX(0) rotateY(0)
    }
    50% {
        -webkit-transform: perspective(100px) rotateX(180deg) rotateY(0);
        -moz-transform: perspective(100px) rotateX(180deg) rotateY(0);
        transform: perspective(100px) rotateX(180deg) rotateY(0)
    }
    100% {
        -webkit-transform: perspective(100px) rotateX(360deg) rotateY(0);
        -moz-transform: perspective(100px) rotateX(360deg) rotateY(0);
        transform: perspective(100px) rotateX(360deg) rotateY(0)
    }
}

/*====================================================
15. Responsive
====================================================*/

@media only screen and (max-width: 1200px) {

    .section-title {
        margin-bottom: 30px;
    }

}

@media only screen and (max-width: 992px) {

    #site-header {
        top: 40px;
        left: 40px;
        right: 40px;
    }

    .copyright {
        right: 40px;
        bottom: 40px;
    }

    .social-icons {
        left: 40px;
        bottom: 40px;
    }

    .controls {
        right: 40px;
    }

    .bordered .awd-cube-item-bg {
        border-width: 15px;
    }

    .section-info {
        text-align: center !important;
    }

    .awd-cube-item .awd-cube-item-content {
        left: 90px;
        right: 90px;
        top: 90px;
        bottom: 90px;
    }

    .navigation ul > li {
        padding-left: 30px;
    }

    .countdown {
        width: 100%;
    }

    #clock .counter-date {
        max-width: 245px;
        float: left;
    }

    #clock .counter-time {
        max-width: 170px;
        float: left;
    }

    #clock .counter-box .number {
        font-size: 52px;
    }

    #clock .counter-date .number {
        font-size: 110px;
        margin-top: 0;
    }

    #clock .counter-time .counter-box:last-child .number {
        margin-top: 10px;
        font-size: 32px;
        margin-right: 10px;
        min-width: auto;
    }

    #clock span {
        font-size: 13px;
    }

    .featured-item.text-right,
    .featured-item.text-left {
        text-align: center;
    }

    .featured-item .featured-text,
    .featured-item.featured-item-right .featured-text {
        margin: 0;
    }

    .featured-icon {
        float: none;
        width: 100%;
    }
}

@media only screen and (max-width: 767px) {

    #site-logo {
        position: absolute;
        float: none;
        z-index: 999;
    }

    #site-logo h1 {
        font-size: 40px;
        line-height: 40px;
    }

    .menu-toggle,
    #site-nav.active {
        display: block;
    }

    #site-nav {
        text-align: center;
        display: none;
        table-layout: fixed;
        position: fixed;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        z-index: 950;

    }

    #site-nav:before {
        content: "";
        display: block;
        height: 100%;
        width: 100%;
    }

    #site-nav .nav-container {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-perspective: 1000;
        perspective: 1000;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
        position: absolute;
        top: 50%;
        left: 15px;
        right: 15px;
    }

    .navigation ul > li {
        width: 100%;
        display: block;
        padding-left: 0;
        margin: 10px 0;
    }

    .navigation ul > li a > span, .navigation ul > li a:after {
        font-size: 20px;
        line-height: 20px;
    }

    .social-icons {
        display: none;
    }

    .copyright {
        left: 40px;
        right: 40px;
        bottom: 40px;
        text-align: center;
    }

    .subscribe-form .form-notice {
        display: block;
    }

    .subscribe-form button span {
        display: none;
    }

}

@media only screen and (max-width: 480px) {

    p {
        font-size: 18px;
    }

    #site-header {
        top: 30px;
        left: 30px;
        right: 30px;
    }

    .bordered .awd-cube-item-bg {
        border-width: 10px;
    }

    .section-info {
        margin: 0;
    }

    .section-title {
        font-size: 20px;
        margin: 20px 0;
    }

    .awd-cube-item .awd-cube-item-content {
        left: 15px;
        right: 15px;
        top: 80px;
        bottom: 70px;
    }

    .social-icons,
    .controls {
        display: none;
    }

    #clock {
        margin-bottom: 20px;
    }

    #clock .counter-date {
        max-width: 155px;
        float: left;
    }

    #clock .counter-time {
        max-width: 105px;
        float: left;
    }

    #clock .counter-box .number {
        font-size: 32px;
        margin-top: 30px;
    }

    #clock .counter-date .number {
        font-size: 68px;
        margin-top: 0;
        margin-right: 10px;
    }

    #clock .counter-time .counter-box:last-child .number {
        margin-top: 5px;
        font-size: 16px;
        margin-right: 10px;
        min-width: auto;
    }

    #clock span {
        padding-top: 5px;
        font-size: 10px;
    }

    .copyright {
        left: 30px;
        right: 30px;
        bottom: 30px;
        text-align: center;
    }

    .copyright p {
        font-size: 11px;
        line-height: 16px;
    }

    /* Subscribe */
    .subscribe-form button {
        width: 100%;
    }

    .section-info .go-slide {
        width: 100%;
        margin-top: 15px;
    }

}
